<footer class="text-muted">
    <div class="container">
    <div class="group-left">
        <p>© 2021 EastWest Bank</p>
        <p>For more info <a href="https://www.eastwestbanker.com/" target="_blank">Visit our website</a></p>
    </div>
        <div class="group-right">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
    </div>
</footer>